#define IDS_MENU_TEXT 1
#define IDS_STATUS_MESSAGE 2
#define IDI_ICON 101

IDI_ICON ICON "CustomBar_Icon.ico"

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
	IDS_MENU_TEXT, "カスタム バーを使用したサンプル"
	IDS_STATUS_MESSAGE, "カスタム バーを使用したサンプル|カスタム バーを使用したサンプルです。"
}
